<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>API Result</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>API Result</h1>-->
<!--<div id="json-data">-->
<!--    &lt;!&ndash; JSON 데이터의 내용을 출력 &ndash;&gt;-->
<!--    <pre>-->
<!--            {{jsonData}}-->
<!--    </pre>-->
<!--</div>-->

<!--<script>-->
<!--    // JSON 데이터를 예쁘게 포맷팅하여 출력하는 함수-->
<!--    function formatJson(jsonString) {-->
<!--        try {-->
<!--            const parsedData = JSON.parse(jsonString);-->
<!--            return JSON.stringify(parsedData, null, 2);-->
<!--        } catch (error) {-->
<!--            return "Invalid JSON data";-->
<!--        }-->
<!--    }-->

<!--    const jsonDataElement = document.getElementById('json-data');-->
<!--    const jsonDataString = jsonDataElement.textContent.trim();-->
<!--    const formattedJson = formatJson(jsonDataString);-->

<!--    jsonDataElement.innerHTML = `<pre>${formattedJson}</pre>`;-->
<!--</script>-->
<!--</body>-->
<!--</html>-->




<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>API Result</title>-->
<!--</head>-->
<!--<body>-->
<!--<pre th:text="${apiResponse}"></pre>-->
<!--</body>-->
<!--</html>-->



<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JSON Parsing Result</title>
</head>
<body>
<!--<div th:each="item, itemInfo : ${items}">-->
<div th:each="item, itemInfo : ${items}" th:if="${itemInfo.index == 3}">
    <h3 th:text="'항목[' + (${itemInfo.index} + 1) + ']'" ></h3>
    <img th:src="${item.itemImage}" alt="" >
    <p>업체명: <span th:text="${item.entpName}"></span></p>
    <p>제품명: <span th:text="${item.itemName}"></span></p>
    <p>효능: <span th:text="${item.efcyQesitm}"></span></p>
    <p>사용법: <span th:text="${item.useMethodQesitm}"></span></p>
    <p>주의사항 경고: <span th:text="${item.atpnWarnQesitm}"></span></p>
    <p>주의사항: <span th:text="${item.atpnQesitm}"></span></p>
    <p>상호작용: <span th:text="${item.intrcQesitm}"></span></p>
    <p>부작용: <span th:text="${item.seQesitm}"></span></p>
    <p>보관법: <span th:text="${item.depositMethodQesitm}"></span></p>
</div>
</body>
</html>






