<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PillSafe</title>
    <style> </style>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="login-box">
    <img class="logo" src="../static/logo.png" alt="필세이프 로고">
    <div class="button-box">
        <button class="google">구글 계정으로 로그인</button>
        <div class="Line" style="width: 320px; height: 0px; border: 0.50px white solid"></div>
        <div class="main-box">
            <p>로그인 없이 이용할 수 있어요!</p>
            <button class="main" onclick="location.href='/'">그냥 의약품만 검색하기</button>
        </div>
    </div>
  </div>
</body>
</html>
