<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${item.itemName} 검색 결과"></title>
</head>
<body>
<div th:each="item, itemInfo : ${items}">
    <h3 th:text="'항목[' + (${itemInfo.index} + 1) + ']'" ></h3>
    <img th:src="${item.itemImage}" alt="" >
    <p>업체명: <span th:text="${item.entpName}"></span></p>
    <p>제품명: <span th:text="${item.itemName}"></span></p>
    <p>효능: <span th:text="${item.efcyQesitm}"></span></p>
    <p>사용법: <span th:text="${item.useMethodQesitm}"></span></p>
    <p>주의사항 경고: <span th:text="${item.atpnWarnQesitm}"></span></p>
    <p>주의사항: <span th:text="${item.atpnQesitm}"></span></p>
    <p>상호작용: <span th:text="${item.intrcQesitm}"></span></p>
    <p>부작용: <span th:text="${item.seQesitm}"></span></p>
    <p>보관법: <span th:text="${item.depositMethodQesitm}"></span></p>
</div>
</body>
</html>