<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>검색 결과</title>
  <script type="text/javascript">
    function redirectToDetailPage(item) {
      var itemJson = JSON.stringify(item);
      window.location.href = "/searchSelected?item=" + encodeURIComponent(itemJson);
    }
  </script>
</head>
<body>
<div th:each="item, itemInfo : ${items}">
  <h3 th:text="'항목[' + (${itemInfo.index} + 1) + ']'" onclick="redirectToDetailPage(${itemInfo})"></h3>
  <img th:src="${item.itemImage}" alt="">
  <p>제품명: <span th:text="${item.itemName}"></span></p>
</div>
</body>
</html>
