@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

/* Reset some default styles */
body, h1, ul {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A237E;
    padding: 10px 20px;
    color: white;
}

.logo img {
    width: 180px;
    padding:8px 90px;
    height: auto;
    align-items: center;
}

/* Main content styles */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 20px;*/
}

.title-wrapper{
    padding: 80px 24px;
    width: 100%;
}

.button-wrapper{

}

p{
    font-size: 42px;
    font-weight: 700;
    text-align: left;
    padding-left: 24px;
    margin: 0;
}
.main-button {
    display: flex;
    padding: 140px 34px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background: #D9D9D9;
    border: 1px solid #000;

    color: #000;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.6px;

    cursor: pointer;
    margin: 0 auto;
}

#camera-button{
    float:left;
}

#search-button{
    float:right;
}
